/* Reset style */
* , *::before , *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Root */
:root {
    --color-primary: #219f95;
    --color-primary-light: #AFCEDD;
    --color-text: #1E1E1E;
    --color-text-white: #fff;
    --color-text-mute: #696969;
    --color-text-primary: #526FAA;

    --border-raidus: 8px;
}
html {
    font-size: 62.5%;
}

body {
    color: var(--color-text);
    font-size: 1.4rem;
    line-height: 1.7;
}
h1 ,h2 ,h3 {
    color: var(--color-text);
    font-weight: 700;
    padding: 0;
    margin: 0;
}
@media screen and (min-width: 768px) {
    body {
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }
}
/* Modifire */
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.block {
    padding: 2rem 3rem;
}
.block-y {
    padding: 3rem 0 ;
}
.text-mute {
    color: var(--color-text-mute);
}
.text-primary {
    color: var(--color-text-primary);
}
.text-medium {
    font-size: 1.2rem;
    font-weight: normal;
}
.text-bold {
    font-family: 'vazir-bold';
}
/* Defualt */
/* Btn */
.btn {
    border: 0;
    padding: 2rem;
    border-radius: var(--border-raidus);
}

.btn--primary{
    background-color: var(--color-primary);
    color: var(--color-text-white);
}

/* Badge */
.badge {
    padding: 0.6rem 1.6rem;
    font-size: 1.2rem;
    background-color: var(--color-primary-light);
    border-radius: var(--border-raidus);
}

/* comment box */
.comment-box {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
@media screen and (min-width: 512px) {
    .container {
        max-width: 500px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 1440px;
    }
    .comment-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;
    }
}
@media screen and (min-width: 1024px) {
    .comment-box {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* comment box item */
.comment-box__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* Header */
.item__header {
    display: grid;  
    grid-template-columns:auto 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    gap: 1rem;
}
.item__header .header__date{
    justify-self: end;
}
.header__title {
    display: flex;
    justify-self: flex-start;
}
/* footer */
.item__footer{
    display: flex;
    justify-content: space-between;
}
.footer__img{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer__img img{
    border-radius: var(--border-raidus);
    order: -1;
    object-fit: cover;
    width: fit-content;
    height: fit-content;
}
.footer__img h3{
    display: flex;
    align-self: center;
}

@media screen and (min-width: 1024px) {   
    .item__header .text-bold {
        font-size: 1.6rem;
    }
}